*{
    margin: 0;
    padding: 0;
}

/* Grid Layout */

body{
    display: grid;
    grid-template-columns: minmax(186px, .8fr) repeat(4, 1fr);
    grid-template-rows: minmax(100px, .8fr) repeat(4, 1fr);
    height: 100vh;
}

#sidebar{
    grid-area: 1/1/6/1;
    width: 100%;
    height: 100%;
    background-color:#0c93d1;

}

#header{

    grid-area:1/2/1/6;
    width: 100%;
    height: 100%;
    background-color: purple;

}

#card-content{

    grid-area: 2/2/6/6;
    width: 100%;
    height: 100%;
    background-color: green;

}

#header{

    display:grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: 1fr 1.5fr;
}

#search-tab{
    grid-area: 1/1/1/7;
}

#alert-profile{
    grid-area: 1/8/1/11;
}

#card-content{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
}

/* Content Layout */

#sidebar{
    display: flex;
    flex-direction: column;

    box-sizing: border-box;
    padding-left: 1em;
    padding-top: 1em;
}

#tabs{
    margin-top: 2em;
}

#settings{
    margin-top: 2em;
}

.sidebar-tabs{
    display:flex;
    align-items: center;
    margin-top: 0.25em;
}

.material-icons{
    margin-right: .25em;
}

#search-tab{
    display: flex;
    align-items: center;
    margin: .5em 0 0 .5em;
}

#search-bar{
    width: 100%;
    height: 2em;
}

#alert-profile{
    display: flex;
    align-items: center;
    margin-left: auto;
    padding-right: 20%;
}

#alert-profile > *{
    padding-right: .5em;
}



/*Content Styling*/

#logo{
    font-size: 30px;
}

#sidebar{
    color: white;
}

#search-bar{
    border: 0;
    border-radius: 1em;
    padding-left: 1em;
}

#search-tab{
    color: white;
}

#alert-profile{
    color: white;
}

#alert-profile img{
    width: 3em;
}